IO_LOC  "bcd[0]" 25;
IO_PORT "bcd[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[1]" 26;
IO_PORT "bcd[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[2]" 27;
IO_PORT "bcd[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[3]" 28;
IO_PORT "bcd[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[4]" 29;
IO_PORT "bcd[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[5]" 30;
IO_PORT "bcd[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[6]" 33;
IO_PORT "bcd[6]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[7]" 34;
IO_PORT "bcd[7]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[8]" 35;
IO_PORT "bcd[8]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[9]" 36;
IO_PORT "bcd[9]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[10]" 37;
IO_PORT "bcd[10]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "bcd[11]" 38;
IO_PORT "bcd[11]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "error" 41;
IO_PORT "error" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "overflow" 39;
IO_PORT "overflow" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "carry_out" 40;
IO_PORT "carry_out" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "B[0]" 86;
IO_PORT "B[0]" IO_TYPE=LVCMOS18;

IO_LOC  "B[1]" 85;
IO_PORT "B[1]" IO_TYPE=LVCMOS18;

IO_LOC  "B[2]" 84;
IO_PORT "B[2]" IO_TYPE=LVCMOS18;

IO_LOC  "B[3]" 83;
IO_PORT "B[3]" IO_TYPE=LVCMOS18;

IO_LOC  "carry_in" 77;
IO_PORT "carry_in" IO_TYPE=LVCMOS18;

IO_LOC  "A[0]" 82;
IO_PORT "A[0]" IO_TYPE=LVCMOS18;

IO_LOC  "A[1]" 81;
IO_PORT "A[1]" IO_TYPE=LVCMOS18;

IO_LOC  "A[2]" 80;
IO_PORT "A[2]" IO_TYPE=LVCMOS18;

IO_LOC  "A[3]" 79;
IO_PORT "A[3]" IO_TYPE=LVCMOS18;

IO_LOC  "opcode[0]" 72;
IO_PORT "opcode[0]" IO_TYPE=LVCMOS18;

IO_LOC  "opcode[1]" 73;
IO_PORT "opcode[1]" IO_TYPE=LVCMOS18;

IO_LOC  "opcode[2]" 74;
IO_PORT "opcode[2]" IO_TYPE=LVCMOS18;

IO_LOC  "screen[0]" 75;
IO_PORT "screen[0]" IO_TYPE=LVCMOS18;

IO_LOC  "screen[1]" 76;
IO_PORT "screen[1]" IO_TYPE=LVCMOS18;
